{{>header}}
{{>navbar}}
<section class="container my-4">
    <h3 class="text-center text-primary my-3">add New costomer</h3>
    <form method="post">
        <div class="mb-3">
            <input name="name" class="form-control" placeholder="name">
        </div>
        <div class="mb-3">
            <input name="accNum" class="form-control" placeholder="accNum">
        </div>
        <div class="mb-3">
            <input name="Balance" class="form-control" placeholder="Balance">
        </div>
        <div class="mb-3">
            <button class="btn btn-primary">Add costomers</button>
        </div>

    </form>
</section>
{{>footer}}